

<h2> Thank you for adoption </h2>


<ul>
 

       <div class="col-md-12">

        <div class="form-group">
        <label for="petname">Pet Name:</label> {{petDetailsInfo.petName}} </br>
        <label for="petdescription">Description:</label> {{petDetailsInfo.petDescription}}</br>
        <label for="petage">Age:</label> {{petDetailsInfo.age}} </br>
        <label for="petgender">Gender:</label> {{petDetailsInfo.gender}} </br>
        <label for="petprice">Price (US $):</label> {{petDetailsInfo.price}} </br>
        <label for="petstock">Available:</label> {{petDetailsInfo.stock}} </br>
        </div>

     </div>



</ul>